<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cityName %>'s Weather</title>
    <style>
        .navbar .navbar-brand {
        font-weight: 700;
        font-size: 25px;
  
      }
  
      .navbar .nav-link {
        font-size: 18px;
        font-weight: 600;
        transition: 0.4s ease-in-out;
  
      }
  
      .navbar {
        font-family: 'Josefin Slab', serif;
      }
  
      .navbar .nav-link:hover {
        color: rgb(31, 30, 30);
        transform: translateY(-1px);
      }
  
      label{
        font-size: 15px;
        color: rgb(44, 43, 43);
        padding-left: 3px;
      }
      .alert{
        transition: 0.5s ease-in-out;
      }
      .alert:hover{
        cursor: pointer;
        transform: translateY(-1px);
        box-shadow: 4px 4px 6px #888888;
      }
      </style>
    <script crossorigin="anonymous" src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Crete+Round&family=Delius&family=Eczar&family=Josefin+Slab:wght@300&family=Mochiy+Pop+One&family=Nunito&family=Pacifico&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="d-flex flex-column vh-100 bg-info">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" style="margin-left: 8px;"><i class="fa fa-globe" style="font-size: 26px;"></i> GlobeStatus</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link mx-1" href="/GlobeStatus/homePage">Home Page</a>
              <ul class="nav nav-pills">
                <li class="nav-item dropdown mx-1">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Search City</a>
                  <ul class="dropdown-menu  dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/GlobeStatus/currentWeatherByName">By City Name</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/GlobeStatus/currentWeatherByCoordinates">By City Coordinates</a></li>
                  </ul>
                </li>
              </ul>
             
            </div>      
          </div>
        </div>
      </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-7">
                <div id='map'  style='width: 100%; height: 750px;border-radius: 10px;' class="mb-2"></div>
                <div>
                  <form action="/GlobeStatus/currentAirPollutionByName/<%= lon %>/<%= lat %>/<%= cityName %>" method="post">
                    <button style="width: 100%; border-radius: 5px;" class="btn btn-success py-2 mt-1">Air Pollution Data</button>
                    <div class="dropdown">
                      <button class="btn btn-danger dropdown-toggle mt-1 py-2" style="width: 100%; border-radius: 5px;" 
                      type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        5 Day Forecast
                      </button>
                      <ul style="width: 100%; border-radius: 5px;" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <% for(let date of datesArr) { %>
                          <li><button formaction="/GlobeStatus/weatherAlerts/<%= cityName %>/<%= lat %>/<%= lon %>/<%= date %>" class="dropdown-item"><%= date %></button></li>
                        <% } %>
                      </ul>
                    </div>
                  </form>
                </div>
            </div>
            <div class="col-md-5">
                <% if(infoMessage.length>0) {%>
                <div class="alert  alert-info alert-dismissible fade show text-center" role="alert">
                    <%= infoMessage %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                <div class="card" style="border-radius: 10px 10px 0px 0px;">
                    <img style="height:345px;width: 100%;border-radius: 10px 10px 0px 0px;" src="<%= imgUrl %>"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title mb-2" style="font-family: 'Ubuntu', sans-serif;"><%= cityName %> <span class="mx-3" style="font-size: 18px;"> <i class="fa fa-map-marker" style="font-size:20px;color:red"></i> ( <%= lat %>, <%= lon %> ) </span></h4>
                      <p class="card-text alert alert-warning">Weather Description : <span  class="badge bg-primary px-2 py-1"><%= desc %></span> </p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <h5 class="card-title mb-2" style="font-family: 'Ubuntu', sans-serif;">Temperature Data</h5> 
                        <div class="alert alert-info mb-1" role="alert">
                          <p class="card-text ">Current Temperature (Kelvin) <span class="badge bg-success px-2 py-1"><%= temp %> </span> </p> 
                        </div> 
                        <div class="alert alert-info mb-1" role="alert">
                          <p class="card-text ">Maximum Temperature (Kelvin) <span class="badge bg-success px-2 py-1"><%= maxTemp %> </span> </p> 
                        </div> 
                        <div class="alert alert-info mb-1" role="alert">
                          <p class="card-text ">Minimum Temperature (Kelvin) <span class="badge bg-success px-2 py-1"><%= minTemp %> </span> </p> 
                        </div>
                      </li>
                      <li class="list-group-item">
                        <h5 class="card-title mb-2" style="font-family: 'Ubuntu', sans-serif;">Wind Data</h5>
                        <div class="alert alert-secondary mb-1" role="alert">
                          <p class="card-text ">Wind Speed (meters/sec) <span class="badge bg-danger px-2 py-1"><%= windSpeed %> </span> </p> 
                        </div> 
                        <div class="alert alert-secondary mb-1" role="alert">
                          <p class="card-text ">Wind Direction degrees (meteorological) <span class="badge bg-danger px-2 py-1"><%= windDir %></span> </p> 
                        </div> 
                      </li>
                      <li class="list-group-item">
                        <h5 class="card-title mb-2" style="font-family: 'Ubuntu', sans-serif;">Additional Data</h5>
                        <div class="alert alert-info mb-1" role="alert">
                          <p class="card-text ">Atmospheric Pressure (hpa) <span class="badge bg-success px-2 py-1"><%= pressure %> </span> </p> 
                        </div> 
                        <div class="alert alert-info mb-1" role="alert">
                          <p class="card-text ">Humidity (%) <span class="badge bg-success px-2 py-1"><%= humidity %> </span> </p> 
                        </div> 
                        
                      </li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>

    <footer class="footer py-3 mt-auto bg-info">
      <div class="container">
          <span class="text-dark">&copy; GlobeStatus 2022</span>
      </div>
  </footer>


    
  <script> 
    maptilersdk.config.apiKey = `2cBE8DScQJsBf7upDtt0`;
    const map = new maptilersdk.Map({
    container: 'map',
    style: maptilersdk.MapStyle.BRIGHT,
    center: [<%=lon%>, <%=lat%>],
    zoom: 10 
    });

    new maptilersdk.Marker()
    .setLngLat([<%=lon%>, <%=lat%>])
    .setPopup(
        new maptilersdk.Popup({ offset: 25 })
    )
    .addTo(map)
  </script>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous">
  </script>
</body>
</html>